<h2>{{title}}</h2>
<form name="artistCreateForm" role="form" (ngSubmit)="save()" enctype="multipart/form-data">
    <div class="form-group" *ngIf="artist.artistCod">
      <label for="artistCod">Artist Code</label>
      <input type="number" [(ngModel)]="artist.artistCod" name="artistCod" class="form-control" id="artistCod" placeholder="artist code">
    </div>
    <div class="form-group">
        <label for="artistName">Artist Name</label>
        <input type="text" required [(ngModel)]="artist.artistName" name="artistName" class="form-control" id="artistName" placeholder="artist Name">
      </div>
    <div class="form-group">
      <label for="genre">Genre</label>
      <select required [(ngModel)]="artist.genre" name="genre" class="form-control" id="genre">
        <option value="" disabled>Select One...</option>
        <option value="Pop">Pop</option>
        <option value="Rock">Rock</option>
        <option value="Jazz" >Jazz</option>
        <option value="Swing">Swing</option>
      </select>
    </div>
    <div class="form-group">
      <label for="biografy">Biografy</label>
      <textarea required [(ngModel)]="artist.biografy" name="biografy"class="form-control" id="biografy" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="image">Picture</label>
        <input type="file" required class="form-control-file" id="image" (change)="handleFileInput($event.target.files)">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
  </form>
  