<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">List</a>
      </li>
     
    </ul>
  </div>


  <router-outlet></router-outlet>



