<div class="containter">
        <img class="card-img-top"  [src]="base64" alt="Card image cap"  width="150">
    <h2>{{letra.nombre}}</h2>
    <p>{{letra.letra}}</p>
<audio controls src="{{song}}" ></audio>
</div>