<div class="container">
  <h2>Canciones de {{artista.artistName}}</h2>
  <div class="row" *ngIf="canciones">

  <div class="col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let song of canciones" >
  <div class="card" >
      <app-caratula [id]="song.album_cod"></app-caratula>
      <div class="card-body">
        <h5 class="card-title"> {{song.name_song}} </h5>
        <h6 class="card-subtitle mb-2 text-muted">Album : {{song.album_name}}</h6>
        <a href="#" class="btn btn-primary"routerLink="/song/{{song.song_cod}}/{{song.album_cod}}/{{song.song_name}}">Escuchar </a>
      </div>
    </div>
    </div>
</div>

</div>
