


<div class="container">
    <h2>List of Artist</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Artista</th>
          <th>Biografía</th>
          <th>Genero</th>
          <th>Miniatura</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let artist of artists" routerLink="/detail/{{artist.artistCod}}">
          <td>{{artist.artistName}}</td>
          <td>{{artist.biografy}}</td>
          <td>{{artist.genre}}</td>
          <td> <img [src]="artist.base64"></td>
        </tr>
      </tbody>
    </table>
</div>


